[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {file = "https://github.com/lakshayg/tensorflow-build/releases/download/tf1.11.0-macos-mojave-py2.7-py3.7/tensorflow-1.11.0-cp37-cp37m-macosx_10_13_x86_64.whl"}
numpy = "*"
tensorflow-hub = "*"
keras = "*"

[dev-packages]
"flake8" = "*"
black = "*"

[requires]
python_version = "3.7"
